<app-header></app-header>
<div
  class="container animate__animated animate__fadeIn"
  style="margin-top: 6em; margin-bottom: 5em;"
>
  <!-- <div class="card">
    <div class="card-body">
      <h4 class="card-title">Post job list</h4>
      <hr />
      <div class="border card">
        <span class="card-title">ASearch</span>
        <br />
        <span
          >IIM Lucknow (Noida Campus Incubator), B-1, Sector 62, Noida, U.P.
          201307</span
        >
      </div>
    </div>
  </div> -->
  <mat-card>
    <div class="row">
      <div class="col-12">
        <mat-card-title
          ><span style="color: #2e2e2e; font-weight: lighter;"
            >Posted Jobs</span
          ></mat-card-title
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <!-- <mat-card-content>
      
    </mat-card-content> -->
    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let item of jobList">
          <mat-card class="my-2">
            <app-posted-card-template
              [item]="item"
              [showButton]="true"
              (viewAndApply)="receiveMessage($event)"
              [showOtherInfo]="false"
            ></app-posted-card-template>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

<!-- <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let item of [1]">
        <mat-card class="my-2">
          <div class="row">
            <div class="col-12">{{ item }}</div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div> -->
