<app-header></app-header>

<div class="container-fluid mt-5">
  <div class="row">
    <mat-card style="width: 100%;">
      <div class="row">
        <div
          class="col-4 d-flex align-items-center"
          style="justify-content: flex-end;"
        >
          <div>
            <h1 style="margin-top: 4em; font-size: 5em; font-weight: bold;">
              About Us
            </h1>
          </div>
        </div>
        <div class="col-8">
          <img
            src="../../assets/6671.jpg"
            style="width: 100%; height: 100%;"
            alt=""
          />
        </div>
      </div>
    </mat-card>

    <div class="container-fluid">
      <div class="row">
        <mat-card style="width: 100%;">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex" style="justify-content: center;">
                <img
                  height="700"
                  style="object-fit: center;"
                  src="../../assets/2730921.jpg"
                  alt=""
                />
              </div>
              <div class="col-12 d-flex" style="justify-content: center;">
                <h1 style="font-weight: bold;">What Are We Doing?</h1>
              </div>
              <div class="col-12">
                <div class="ml-5 mr-5">
                  <span
                    style="font-size: 1.2em; line-height: 1.7; opacity: 0.7;"
                  >
                    We are trying to solve hiring related problems faced by
                    startups in India. Two most time consuming activities for
                    startup leadership team are a. Funding b. Hiring. Even
                    funding is periodic exercise but hiring is daily time
                    consuming exercise.
                    <br />
                    <br />Through the help Artificial Intelligence (especially
                    NLP), Blockchain & Voice Chat Bots, we are going to
                    automating entire selection process so that startup founders
                    can focus on their core business areas. Stay tuned for
                    upcoming exciting features!
                  </span>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 d-flex" style="justify-content: center;">
                <img
                  src="../../assets/proud-middle-aged-business-man-conference-room_1262-3062.jpg"
                  alt=""
                  style="border-radius: 1%;"
                />
              </div>
              <div class="col-12 d-flex" style="justify-content: center;">
                <h1 style="font-weight: bold;" class="mt-4">
                  Umashanker Akharia
                  <i style="opacity: 0.6;">Co-Founder & CEO Leadership Team</i>
                </h1>
              </div>
              <div class="col-12">
                <div class="ml-5 mr-5">
                  <!-- <span
                    style="font-size: 1.2em; line-height: 1.7; opacity: 0.7;"
                  >
                    We are trying to solve hiring related problems faced by
                    startups in India. Two most time consuming activities for
                    startup leadership team are a. Funding b. Hiring. Even
                    funding is periodic exercise but hiring is daily time
                    consuming exercise.
                    <br />
                    <br />Through the help Artificial Intelligence (especially
                    NLP), Blockchain & Voice Chat Bots, we are going to
                    automating entire selection process so that startup founders
                    can focus on their core business areas. Stay tuned for
                    upcoming exciting features!
                  </span> -->
                  <mat-list role="list">
                    <mat-list-item role="listitem"
                      >17+ yrs of Talent Acquisition experience.</mat-list-item
                    >

                    <mat-list-item role="listitem">
                      Decade plus within corporate set up as in-house recruiter
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      Five plus years as entrepreneur into Hiring & Wellness
                      space</mat-list-item
                    >
                    <mat-list-item role="listitem">
                      Worked with companies like HCL Tech, Indus Valley
                      Partners, Thapar Group, Axtria etc.</mat-list-item
                    >
                    <mat-list-item role="listitem">
                      Evening MBA/PGPWE from IIM Lucknow-Noida
                      Campus</mat-list-item
                    >
                    <mat-list-item role="listitem">
                      MBA-HR from IMT Ghaziabad; B.Com(H) from Delhi University
                      <a href="https://www.linkedin.com/in/umashanker/">
                        &nbsp; https://www.linkedin.com/in/umashanker/</a
                      ></mat-list-item
                    >
                  </mat-list>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 d-flex" style="justify-content: center;">
                <img
                  src="../../assets/business-brainstorming-graph-chart-report-data-concept_53876-31213.jpg"
                  alt=""
                  style="border-radius: 1%;"
                />
              </div>
              <div class="col-12 d-flex" style="justify-content: center;">
                <h1 style="font-weight: bold;" class="mt-4">
                  Tarun Sharma
                  <i style="opacity: 0.6;">Co-Founder & COO</i>
                </h1>
              </div>
              <div class="col-12">
                <div class="ml-5 mr-5">
                  <!-- <span
                    style="font-size: 1.2em; line-height: 1.7; opacity: 0.7;"
                  >
                    We are trying to solve hiring related problems faced by
                    startups in India. Two most time consuming activities for
                    startup leadership team are a. Funding b. Hiring. Even
                    funding is periodic exercise but hiring is daily time
                    consuming exercise.
                    <br />
                    <br />Through the help Artificial Intelligence (especially
                    NLP), Blockchain & Voice Chat Bots, we are going to
                    automating entire selection process so that startup founders
                    can focus on their core business areas. Stay tuned for
                    upcoming exciting features!
                  </span> -->
                  <mat-list role="list">
                    <mat-list-item role="listitem"
                      >14 years cross industry work experience covering
                      Hospitality, Education & Fitness</mat-list-item
                    >

                    <mat-list-item role="listitem">
                      Studies Behavioral Sciences from Amity Institute of
                      Psychology and Allied Sciences
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      Masters & Bachelors in Physical Education, from Amity
                      University.</mat-list-item
                    >

                    <mat-list-item role="listitem">
                      Prior experience of entrepreneurship taking care
                      operations & sales
                      <a href="https://www.linkedin.com/in/umashanker/">
                        &nbsp;
                        https://www.linkedin.com/in/tarun-kumar-sharma-2b141662/</a
                      ></mat-list-item
                    >
                  </mat-list>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 d-flex" style="justify-content: center;">
                <img
                  src="../../assets/handshake-business-men-concept_53876-31214.jpg"
                  alt=""
                  style="border-radius: 1%;"
                />
              </div>
              <div class="col-12 d-flex" style="justify-content: center;">
                <h1 style="font-weight: bold;" class="mt-4">
                  Rahul Sharma
                  <i style="opacity: 0.6;">Head of Marketing & Communication</i>
                </h1>
              </div>
              <div class="col-12">
                <div class="ml-5 mr-5">
                  <!-- <span
                    style="font-size: 1.2em; line-height: 1.7; opacity: 0.7;"
                  >
                    We are trying to solve hiring related problems faced by
                    startups in India. Two most time consuming activities for
                    startup leadership team are a. Funding b. Hiring. Even
                    funding is periodic exercise but hiring is daily time
                    consuming exercise.
                    <br />
                    <br />Through the help Artificial Intelligence (especially
                    NLP), Blockchain & Voice Chat Bots, we are going to
                    automating entire selection process so that startup founders
                    can focus on their core business areas. Stay tuned for
                    upcoming exciting features!
                  </span> -->
                  <mat-list role="list">
                    <mat-list-item role="listitem"
                      >12 years plus experience as marketer, trainer &
                      engineer</mat-list-item
                    >

                    <mat-list-item role="listitem">
                      An engineer by education with B.Ed & Management degrees
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      In begining of career, worked with Samsung Electronics &
                      Motherson Sumi
                    </mat-list-item>

                    <mat-list-item role="listitem">
                      Author of 10 published books in education genre
                      <a href="https://www.linkedin.com/in/umashanker/">
                        &nbsp;
                        https://www.linkedin.com/in/rahul-sharma-6b594a43/</a
                      ></mat-list-item
                    >
                  </mat-list>
                </div>
              </div>
            </div>

            <div class="row my-5">
              <div class="col-12 d-flex my-5" style="justify-content: center;">
                <!-- <img
                  width="300"
                  height="300"
                  src="../../assets/24421.jpg"
                  alt=""
                /> -->
              </div>
              <div class="col-12 my-5">
                <div class="ml-5 mr-5">
                  <mat-list role="list">
                    <mat-list-item role="listitem"
                      >IIM Lucknow L-Incubator</mat-list-item
                    >

                    <div class="my-3">
                      <mat-list-item role="listitem">
                        <span style="line-height: 1.3;">
                          Startupjob.in has been incubated at IIM Lucknow
                          Enterprise Incubation Centre (L-incubator) & operating
                          from IIM Lucknow Noida Campus at Sector 62
                        </span>
                      </mat-list-item>
                    </div>
                    <mat-list-item role="listitem"
                      ><span style="line-height: 1.3;">
                        L-Incubator is a not-for-profit organization, is
                        supported by UP State Government under UPIT Start-up
                        Policy and Government of India under NSTEDB, DST. IIML
                        Incubator is sector agnostic, focused on providing
                        commercialization and growth support to start-ups for
                        faster growth and scale.
                      </span>
                    </mat-list-item>

                    <div class="my-3">
                      <mat-list-item role="listitem"
                        ><span style="line-height: 1.3;">
                          Startupjob.in is registered under StartupIndia scheme
                          (as Tagum Consulting Private Limited) by Government of
                          India via DIPP56490. Also we are under MSME category &
                          committed to promote Make in India movement.
                        </span></mat-list-item
                      >
                    </div>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-subcriber-news-letter></app-subcriber-news-letter> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
