<section>
  <header class="bg-white position-fixed" style="width: 100%; z-index: 1;">
    <nav class="container navbar nav bg-white pt-3 pb-3">
      <div class="nav-brand">
        <a href="#" class="nav-link pl-0">StartupJob.in</a>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="gotoPostJob()"
          class="mr-2"
        >
          Post Job
        </button>
        <button mat-raised-button (click)="gotoJobList()" color="warn">
          Want Job
        </button>
        <button
          mat-raised-button
          style="margin-left: 4em;"
          (click)="logout()"
          color="primary"
        >
          {{ loginCheck }}
        </button>
      </div>
    </nav>
  </header>
</section>
