<section style="z-index: 2;">
  <header class="bg-white position-fixed" style="width: 100%; z-index: 1;">
    <nav class="container navbar nav bg-white pt-3 pb-3">
      <div class="nav-brand">
        <a routerLink="/" class="nav-link pl-0">StartupJob.in</a>
      </div>
      <div style="margin-left: 20em;">
        <a style="text-decoration: none;" class="color-primary" routerLink="/"
          >Home</a
        >
        <a
          style="text-decoration: none;"
          class="color-primary ml-5"
          routerLink="/about"
          >About</a
        >
        <a
          style="text-decoration: none;"
          class="color-primary ml-5"
          routerLink="/contact"
          >Contact</a
        >
        <a
          style="text-decoration: none;"
          class="color-primary ml-5 mr-4"
          routerLink="/services"
          >Service</a
        >
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="gotoPostJob()"
          class="mr-2"
        >
          Post Job
        </button>
        <button mat-raised-button (click)="gotoJobList()" color="warn">
          Want Job
        </button>
        <ng-container *ngIf="!getActive()">
          <button
            mat-raised-button
            style="margin-left: 1em;"
            (click)="logout()"
            color="primary"
          >
            {{ loginCheck }}
          </button>
        </ng-container>

        <ng-container *ngIf="getActive()">
          <img
            class="ml-2"
            style="border-radius: 100%;"
            [src]="getImageUrl()"
            height="50"
            width="50"
            type="image/png"
            [matMenuTriggerFor]="belowMenu"
            alt="userCompany Logo"
          />
          <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="before">
            <div class="container">
              <div class="row">
                <div
                  class="col-12 d-flex"
                  style="justify-content: center; border-radius: 100%;"
                >
                  <img
                    [src]="getImageUrl()"
                    style="border-radius: 100%;"
                    height="150"
                    width="150"
                    type="image/png"
                    alt=""
                  />
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 d-flex" style="justify-content: center;">
                  <span style="font-size: 1.2em;">{{ getName() }}</span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 d-flex" style="justify-content: center;">
                  <span
                    ><b>{{ getEmail() }}</b></span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button
                    mat-raised-button
                    style="width: 100%;"
                    (click)="logout()"
                    color="primary"
                  >
                    {{ loginCheck }}
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </ng-container>
      </div>
    </nav>
  </header>
</section>
