<app-header></app-header>

<div class="container-fluid mt-5">
  <div class="row">
    <mat-card style="width: 100%;">
      <div class="row">
        <div
          class="col-4 d-flex align-items-center"
          style="justify-content: flex-end;"
        >
          <div>
            <h1 style="margin-top: 4em; font-size: 5em; font-weight: bold;">
              Services
            </h1>
          </div>
        </div>
        <div class="col-8">
          <img
            src="../../assets/2731070.jpg"
            style="width: 100%; height: 100%;"
            alt=""
          />
        </div>
      </div>
    </mat-card>

    <div class="container-fluid">
      <div class="row">
        <mat-card style="width: 100%;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 style="font-weight: bold;">Benefit</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-list role="list">
                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i>Free Job Postings.
                    Forever! &nbsp;<sup>
                      <i class="fa fa-star" style="color: red;"></i></sup
                  ></mat-list-item>

                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i> You can post your
                    job posting on Startupjob.in for free & share the job link
                    in your network.
                  </mat-list-item>
                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i> Active candidates of
                    portal applies to your posting & you get resume with details
                    for FREE. No strings attached.
                  </mat-list-item>

                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i> Its a free services
                    & will remain forever FREE.&nbsp;<sup>
                      <i class="fa fa-star" style="color: red;"></i
                      ><i class="fa fa-star" style="color: red;"></i></sup
                  ></mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h1 style="font-weight: bold;">Features & Comparison</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-list role="list">
                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i>If your company don't
                    has dedicated Recruiter or simply you need additional hands
                    to close open positions. Also quite possible that your
                    position is niche or you need a rockstar employee whom you
                    are yet to find out. Then, we have a very cost effective
                    solution for you in the form of "Cloud Recruiter"
                  </mat-list-item>

                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i>In traditional
                    Recruitment Consutlancy model, the charges are 100% success
                    based i.e. typically
                    <span class="color-danger"><b>&nbsp; 8.33%&nbsp;</b></span>
                    of the CTC.
                  </mat-list-item>

                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i>Case Study:
                    <span class="color-danger"><b>&nbsp; 8.33%&nbsp;</b></span>
                    of the CTC.
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>a. </b>
                      Your company needs to close 3 open positions in a month
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>b. </b>
                      Offers 3-5 candidates, out of which 3 joins
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>c. </b>
                      Interviews-to-offer ratio – 7:1
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>d. </b>
                      Average offered CTC is 8 Lacs
                    </p>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    <i class="fa fa-arrow-right mr-3"></i>
                    <b>Cost Calculation:</b>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>1. </b>
                      Traditional Recruitment Consultancy Model
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      &nbsp;&nbsp;<b>Commission</b> = 8 Lacs * 8.33% * 3 = Rs.
                      1,99,920/-
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>2. </b>
                      Cloud Recruiter Model
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      &nbsp;&nbsp;<b>Commission</b> = 10,000 + (8 Lacs* 3.5% *
                      3) = Rs. 94,000/-
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <i class="fa fa-arrow-right mr-3"></i>

                    &nbsp;&nbsp;<b>Net Saving</b> = 1,28,920 (1,99,920 - 66,000)
                    OR 52% i.e. half cost
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h1 style="font-weight: bold;">Compare By Your self</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-12 d-flex" style="justify-content: center;">
                <mat-card>
                  <div class="row">
                    <div class="col-12">
                      <span>Traditional Calculation</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <form
                        [formGroup]="calculateForm"
                        (ngSubmit)="calculatePer()"
                      >
                        <mat-form-field appearance="outline">
                          <mat-label>CTC</mat-label>
                          <input
                            matInput
                            placeholder="Ex:800000"
                            formControlName="email"
                            required
                          />
                          <mat-error *ngIf="calculateForm.get('email').invalid"
                            >Please Enter CTC</mat-error
                          >
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mx-5">
                          <mat-label>Commission %</mat-label>
                          <input
                            matInput
                            type="text"
                            formControlName="commission"
                            class="example-right-align"
                          />

                          <span matSuffix>%</span>
                          <mat-error
                            *ngIf="calculateForm.get('commission').invalid"
                            >Please Enter Commission percentage Ex:8.3
                            etc.</mat-error
                          >
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Joins</mat-label>
                          <input
                            matInput
                            placeholder="Ex:3, 6, 9 ..."
                            formControlName="joins"
                            required
                          />
                          <mat-error *ngIf="calculateForm.get('joins').invalid"
                            >Please Enter Joins</mat-error
                          >
                        </mat-form-field>
                        <div class="row">
                          <div class="col-12">
                            <button mat-raised-button color="primary">
                              Calculate
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <mat-list role="list">
                              <mat-list-item role="listitem"
                                ><i class="fa fa-arrow-right mr-3"></i>
                                <span
                                  >Traditional Calculated Commission Amount =
                                  <b>{{ Trad }} /-</b>
                                </span>
                              </mat-list-item>

                              <mat-list-item role="listitem"
                                ><i class="fa fa-arrow-right mr-3"></i>
                                <span>
                                  Cloud Recruiter Commission Amount with 3.5% =
                                  <b>{{ Cloud }} /-</b>
                                </span>
                              </mat-list-item>
                              <mat-list-item role="listitem"
                                ><i class="fa fa-arrow-right mr-3"></i>
                                <span>
                                  Total Savings =
                                  <b>{{ netSaving }} /-</b></span
                                >
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h1 style="font-weight: bold;">Important Notes:</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-list role="list">
                  <mat-list-item role="listitem"
                    ><i class="fa fa-arrow-right mr-3"></i>
                    <span>
                      Plus as we dedicate a recruiter-cum-account manager
                      operating from our office, results in additional savings
                      on
                    </span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>a. </b>
                      In-House Recruiter's Salary = 15K-40K per month
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>b. </b>
                      Job Portals Costs - 10K-25K per month
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p class="ml-5">
                      <b>c. </b>
                      Company Overhead/Per Seat Expenses - 5K-10K per month
                    </p>
                  </mat-list-item>
                  <mat-list-item role="listitem"
                    ><i class="fa fa-star mr-3" style="color: red;"></i>
                    <span>
                      10 Days FREE Trial Period for "Cloud Recruiter" Services -
                      No Credit Card Details Required.
                    </span>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h1 style="font-weight: bold;">Still not convinced?</h1>
              </div>
              <div class="col-12">
                <span
                  >We are happy to engage with you in traditional Recruitement
                  consultancy model where fee is 100% on success based i.e.
                  8.33% of joiner's CTC.
                </span>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <h1 style="font-weight: bold;">For More Details</h1>
              </div>
              <div class="col-12">
                <span
                  >reach out to us at <b>tarun@startupjob.in</b> or
                  call/whatsapp on <b> 91-9818380098</b>.
                </span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <mat-card style="width: 100%;">
      <!-- <app-subcriber-news-letter></app-subcriber-news-letter> -->
    </mat-card>
  </div>
</div>
