<div class="row my-5">
  <div class="col-12 mt-5">
    <form class="container">
      <div class="form-group row justify-content-between">
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          style="width: 49%;"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          style="width: 49%;"
        />
      </div>
      <div class="form-group row">
        <input type="email" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group row">
        <input type="number" class="form-control" placeholder="Mobile number" />
      </div>
      <div class="form-group row">
        <input
          type="number"
          class="form-control"
          placeholder="Experience in years"
        />
      </div>
      <div class="form-group row">
        <input type="text" class="form-control" placeholder="Keys & Skills" />
      </div>
      <div class="form-group row">
        <textarea
          name=""
          id=""
          rows="3"
          class="form-control"
          placeholder="protractor summary"
        ></textarea>
      </div>
      <div class="form-group row">
        <input
          type="file"
          class="form-control-file"
          placeholder="Choose a file"
        />
      </div>
      <div class="form-group row">
        <button class="btn btn-secondary" type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
