<app-header></app-header>
<div
  class="container animate__animated animate__fadeIn"
  style="margin-top: 6em; margin-bottom: 5em;"
>
  <!-- <div class="card">
    <div class="card-body">
      <h4 class="card-title">Post job list</h4>
      <hr />
      <div class="border card">
        <span class="card-title">ASearch</span>
        <br />
        <span
          >IIM Lucknow (Noida Campus Incubator), B-1, Sector 62, Noida, U.P.
          201307</span
        >
      </div>
    </div>
  </div> -->
  <mat-card>
    <div class="row">
      <div class="col-12">
        <mat-card-title
          ><span style="color: #2e2e2e; font-weight: lighter;"
            >Posted Jobs</span
          ></mat-card-title
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <!-- <mat-card-content>
      
    </mat-card-content> -->
    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let item of [1, 2, 3]">
          <mat-card class="my-2">
            <div class="row">
              <div class="col-12">
                <div class="row align-items-center">
                  <div class="col-1">
                    <img
                      style="width: 1em; height: 1em;"
                      src="https://i.pinimg.com/564x/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg"
                      alt=""
                      class="w-100 h-100 img"
                    />
                  </div>
                  <div class="col-1">
                    <h2 class="mt-3 font-weight-lighter">ASearch</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>

                <div class="row">
                  <div class="col-1 d-flex align-items-center mr-4">
                    <span><b>Requirements:</b></span>
                  </div>
                  <div class="col-10 d-flex">
                    <span class="ml-1">hello</span>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-1 d-flex align-items-center mr-4">
                    <span><b>Experience:</b></span>
                  </div>
                  <div class="col-10 d-flex">
                    <span class="ml-1">hello</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-2 d-flex align-items-center mr-4 mb-2">
                    <span><b>Company Description:</b></span>
                  </div>
                  <div class="col-12">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Aliquam nobis saepe ad consectetur suscipit! Consequatur.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Rem voluptatem odio cupiditate ex accusantium. Voluptatum
                      earum veritatis, molestiae quaerat dignissimos maxime
                      dolores laudantium quia quo minus repellendus tempore
                      magnam tenetur?
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-1 d-flex align-items-center mr-4">
                    <span><b>Salary:</b></span>
                  </div>
                  <div class="col-10 d-flex">
                    <span class="ml-1">6l - 7k / Annum</span>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-1">
                    <i class="fa fa-desktop mr-2"></i>
                    <span><b>Requirements:</b></span>
                  </div>
                  <div class="col-2">
                    <span>Node, Js, DS, Man.</span>
                  </div>
                </div> -->
                <div class="row my-2">
                  <div class="col-1 d-flex align-items-center mr-4">
                    <span><b>Address:</b></span>
                  </div>
                  <div class="col-10 d-flex">
                    <span class="ml-1"
                      >IIM Lucknow (Noida Campus Incubator), B-1, Sector 62,
                      Noida, U.P. 201307</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex" style="justify-content: flex-end;">
                    <!-- view and apply pass id of jobs id -->
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="viewAndApply()"
                    >
                      Apply Now
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

<!-- <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let item of [1]">
        <mat-card class="my-2">
          <div class="row">
            <div class="col-12">{{ item }}</div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div> -->
