<app-header></app-header>

<div class="mt-5">
  <mat-card>
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex" style="align-items: center;">
          <div class="row">
            <div class="col-12 my-4">
              <span>Forever Free Job Posting. Promise!</span>
            </div>
            <div class="col-12">
              <h1
                style="
                  font-weight: bold;
                  font-size: 4em;
                  line-height: 1em;
                  opacity: 0.8;
                "
              >
                Dedicated Job Portal for Indian Startups
              </h1>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img
            height="700"
            width="700"
            src="../../assets/undraw_work_time_lhoj.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row" style="height: 50vh;">
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-resume-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Hundreds of Startup Jobs
              </h3>
              <p class="text-white-50 my-1">okay dream jobs are here</p>
              <p class="text-white-50">okay dream jobs are here</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-exchange-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Quick Job Posting
              </h3>
              <p class="text-white-50 my-1">okay dream jobs are here</p>
              <p class="text-white-50">okay dream jobs are here</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-resume-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Top Careers
              </h3>
              <p class="text-white-50 my-1">okay dream jobs are here</p>
              <p class="text-white-50">okay dream jobs are here</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-exchange-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Search Expert Candidates
              </h3>
              <p class="text-white-50 my-1">okay dream jobs are here</p>
              <p class="text-white-50">okay dream jobs are here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job list container -->
<div>
  <mat-card>
    <div class="container-fluid py-5 bg-white">
      <div class="container my-5">
        <div class="row justify-content-between">
          <div class="col-8">
            <div class="my-4">
              <span class="text-secondary">Recently Add Jobs</span>
              <h1 class="font-weight-bold">Hot Jobs</h1>
            </div>

            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
            <div class="hover">
              <div class="my-1">
                <span class="" style="font-size: 2rem;"
                  >Frontend Development
                  <span
                    class="badge badge-info rounded-pill py-2 px-3 font-weight-normal"
                    style="font-size: 0.8rem;"
                    >Partime</span
                  ></span
                >
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-6">
                  <span
                    ><i class="fa fa-building text-secondary mr-2"></i>
                    <a href="#">GOOGLE, INC.</a></span
                  >
                  <span class="text-secondary font-weight-bold">
                    <i class="fa fa-globe text-secondary mx-2"></i>
                    WESTREN CITY, UK
                  </span>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn mr-2 rounded-circle heartbg">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="btn btn-primary" type="button">
                    Apply Job
                  </button>
                </div>
              </div>
            </div>
            <hr class="border-danger my-4 opacity" />
          </div>
          <!-- Recruiting now -->
          <div class="col-3">
            <div class="my-4">
              <span class="text-secondary">Recruiting Now</span>
              <h1 class="font-weight-bold">Top Employers</h1>
            </div>
            <div class="row-cols-3">
              <div class="border col-12 p-0 rounded">
                <div class="text-center py-5 my-4">
                  <i class="fa fa-google-plus-circle colorg"></i>
                </div>

                <div class="bg-light px-3 pb-2 pt-1">
                  <h2>Google Company</h2>
                  <span class="my-n4 p-0">
                    <span class="badge px-3 py-2 badge-danger opacity"
                      >500</span
                    >
                    Open position
                  </span>
                </div>
              </div>
              <div class="border col-12 p-0 rounded my-3">
                <div class="text-center py-5 my-4">
                  <i
                    class="fa fa-facebook colorg"
                    style="color: rgb(72, 72, 245);"
                  ></i>
                </div>

                <div class="bg-light px-3 pb-2 pt-1">
                  <h2>Google Company</h2>
                  <span class="my-n4 p-0">
                    <span class="badge px-3 py-2 badge-danger opacity"
                      >500</span
                    >
                    Open position
                  </span>
                </div>
              </div>
              <div class="border col-12 p-0 rounded">
                <div class="text-center py-5 my-4">
                  <i class="fa fa-html5 colorg"></i>
                </div>

                <div class="bg-light px-3 pb-2 pt-1">
                  <h2>Google Company</h2>
                  <span class="my-n4 p-0">
                    <span class="badge px-3 py-2 badge-danger opacity"
                      >500</span
                    >
                    Open position
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!-- company score -->
<div class="container-fluid border bg-blue py-5">
  <div class="container py-5">
    <div class="row text-center text-white">
      <div class="col">
        <div class="img1 d-inline-block mb-2">
          <img src="" alt="" />
        </div>
        <!--  -->
        <h2 class="font-size">218</h2>
        <span class="text-white-50">Jobs</span>
      </div>
      <div class="col">
        <div class="img1 d-inline-block mb-2">
          <img src="" alt="" />
        </div>
        <h2 class="font-size">11,800</h2>
        <span class="text-white-50">Members</span>
      </div>
      <div class="col">
        <div class="img1 d-inline-block mb-2">
          <img src="" alt="" />
        </div>
        <h2 class="font-size">32</h2>
        <span class="text-white-50">Company</span>
      </div>
      <div class="col">
        <div class="img1 d-inline-block mb-2">
          <img src="" alt="" />
        </div>
        <h2 class="font-size">9,765</h2>
        <span class="text-white-50">Resume</span>
      </div>
    </div>
  </div>
</div>
<!-- company hiring with us -->

<div>
  <mat-card>
    <div class="container-fluid py-5">
      <div class="container">
        <div class="text-center">
          <span class="lightcolor font-size2">
            Employers
          </span>
          <h2 class="font-weight-bold font-size mt-2">
            Companies Hiring With Us!
          </h2>
        </div>

        <!-- carousel -->

        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleCaptions"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item bg-dark active" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
            <div class="carousel-item bg-success" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item bg-info" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="bg-dark text-white" style="height: 550px;">hello</div>
            </div>
            <div class="carousel-item">
              <div class="bg-success text-white" style="height: 550px;">
                hello
              </div>
            </div>
            <div class="carousel-item">
              <div class="bg-danger text-white" style="height: 550px;">
                hello
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div>
          <div
            id="ourcompanieslinks"
            class="carousel slide"
            data-ride="carousel"
          > -->
        <!-- <ol class="carousel-indicators">
              <li
                data-target="#ourcompanieslinks"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#ourcompanieslinks" data-slide-to="1"></li>
              <li data-target="#ourcompanieslinks" data-slide-to="2"></li>
              <li data-target="#ourcompanieslinks" data-slide-to="3"></li>
            </ol> -->

        <!-- <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="bg-dark" style="height: 550px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                      Praesent commodo cursus magna, vel scelerisque nisl
                      consectetur.
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-success" style="height: 550px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                      Praesent commodo cursus magna, vel scelerisque nisl
                      consectetur.
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-danger" style="height: 550px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                      Praesent commodo cursus magna, vel scelerisque nisl
                      consectetur.
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
        <!-- </div>
        </div> -->
      </div>
    </div>
  </mat-card>
</div>

<!-- recent blog -->

<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="text-center">
      <span class="lightcolor font-size2">
        Our Blog
      </span>
      <h2 class="font-weight-light font-size mt-2">
        Recent <b class="font-weight-bold">Blog</b>
      </h2>
    </div>
    <div class="card-deck row my-5">
      <div class="card border-0 col-3 bg-light">
        <img src="../../assets/team-1.jpg" alt="" class="card-img-top" />
        <div class="card-body p-0 mt-2">
          <a href="#" class="textlight text-uppercase"
            >May 3, 2019 admin <i class="fa fa-comment mx-1"></i>3
          </a>
          <p class="texthover my-3">
            Lorem, ipsum consectetur adipisicing elit. Vero libero ipsam dolore!
          </p>
        </div>
      </div>
      <div class="card border-0 col-3 bg-light">
        <img src="../../assets/team-2.jpg" alt="" class="card-img-top" />
        <div class="card-body p-0 mt-2">
          <a href="#" class="textlight text-uppercase"
            >May 3, 2019 admin <i class="fa fa-comment mx-1"></i>3
          </a>
          <p class="texthover my-3">
            Lorem, ipsum consectetur adipisicing elit. Vero libero ipsam dolore!
          </p>
        </div>
      </div>
      <div class="card border-0 col-3 bg-light">
        <img src="../../assets/team-2.jpg" alt="" class="card-img-top" />
        <div class="card-body p-0 mt-2">
          <a href="#" class="textlight text-uppercase"
            >May 3, 2019 admin <i class="fa fa-comment mx-1"></i>3
          </a>
          <p class="texthover my-3">
            Lorem, ipsum consectetur adipisicing elit. Vero libero ipsam dolore!
          </p>
        </div>
      </div>
      <div class="card border-0 bg-light col-3">
        <img src="../../assets/team-1.jpg" alt="" class="card-img-top" />
        <div class="card-body p-0 mt-2">
          <a href="#" class="textlight text-uppercase"
            >May 3, 2019 admin <i class="fa fa-comment mx-1"></i>3
          </a>
          <p class="texthover my-3">
            Lorem, ipsum consectetur adipisicing elit. Vero libero ipsam dolore!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container animate__animated animate__fadeIn"
  style="margin-top: 6em; margin-bottom: 5em;"
>
  <!-- <div class="card">
    <div class="card-body">
      <h4 class="card-title">Post job list</h4>
      <hr />
      <div class="border card">
        <span class="card-title">ASearch</span>
        <br />
        <span
          >IIM Lucknow (Noida Campus Incubator), B-1, Sector 62, Noida, U.P.
          201307</span
        >
      </div>
    </div>
  </div> -->
  <mat-card>
    <div class="row">
      <div class="col-12">
        <mat-card-title
          ><span style="color: #2e2e2e; font-weight: lighter;"
            >Posted Jobs</span
          ></mat-card-title
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <!-- <mat-card-content>

    </mat-card-content> -->
    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let item of jobList">
          <mat-card class="my-2">
            <app-posted-card-template
              [item]="item"
              [showButton]="true"
              (viewAndApply)="receiveMessage($event)"
              [showOtherInfo]="false"
            ></app-posted-card-template>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

<!-- <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let item of [1]">
        <mat-card class="my-2">
          <div class="row">
            <div class="col-12">{{ item }}</div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div> -->
