<app-header></app-header>

<div class="mt-5">
  <mat-card>
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex" style="align-items: center;">
          <div class="row">
            <div class="col-12 my-4">
              <span>Forever Free Job Posting. Promise!</span>
            </div>
            <div class="col-12">
              <h1
                style="
                  font-weight: bold;
                  font-size: 4em;
                  line-height: 1em;
                  opacity: 0.8;
                "
              >
                Dedicated Job Portal for Indian Startups
              </h1>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img
            height="700"
            width="700"
            src="../../assets/undraw_work_time_lhoj.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row" style="height: 50vh;">
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-resume-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Hundreds of Startup Jobs
              </h3>
              <span style="color: white;">okay dream jobs are here </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-exchange-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Quick Job Posting
              </h3>
              <span style="color: white;">okay dream jobs are here </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-resume-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Top Careers
              </h3>
              <span style="color: white;">okay dream jobs are here </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-12">
              <img src="../../assets/icons8-exchange-64.png" alt="" />
              <h3 class="my-2" style="color: white; font-weight: bold;">
                Search Expert Candidates
              </h3>
              <span style="color: white;">okay dream jobs are here </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container animate__animated animate__fadeIn"
  style="margin-top: 6em; margin-bottom: 5em;"
>
  <!-- <div class="card">
    <div class="card-body">
      <h4 class="card-title">Post job list</h4>
      <hr />
      <div class="border card">
        <span class="card-title">ASearch</span>
        <br />
        <span
          >IIM Lucknow (Noida Campus Incubator), B-1, Sector 62, Noida, U.P.
          201307</span
        >
      </div>
    </div>
  </div> -->
  <mat-card>
    <div class="row">
      <div class="col-12">
        <mat-card-title
          ><span style="color: #2e2e2e; font-weight: lighter;"
            >Posted Jobs</span
          ></mat-card-title
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <!-- <mat-card-content>
      
    </mat-card-content> -->
    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let item of jobList">
          <mat-card class="my-2">
            <app-posted-card-template
              [item]="item"
              [showButton]="true"
              (viewAndApply)="receiveMessage($event)"
              [showOtherInfo]="false"
            ></app-posted-card-template>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

<!-- <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let item of [1]">
        <mat-card class="my-2">
          <div class="row">
            <div class="col-12">{{ item }}</div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div> -->
