<section class="f-color">
  <footer class="container py-5">
    <!-- <div class="row">
      <div class="col-3 details">
        <h3>About</h3>
        <p>
          Hair for FREE "Startup-Ready" - intrests, Employeees. Freelanccers &
          Co-founders!
        </p>
      </div>
      <div class="col-3">
        <h3 class="ml-3">Employers</h3>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action"
            >How it works</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Register</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Post a job</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Advance Skill Search</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Recruiting Service</a
          >
          <a href="#" class="list-group-item list-group-item-action">Blog</a>
          <a href="#" class="list-group-item list-group-item-action">FAQ</a>
        </div>
      </div>
    </div> -->
    <div class="row mb-5" style="justify-content: space-between;">
      <div class="col-3">
        <h2>About</h2>
        <div class="row">
          <div class="col-10 mb-4">
            <span
              >Hire for FREE "Startup-Ready" - interns, Employees, Freelancers &
              Co-founders!</span
            >
          </div>

          <div
            class="col-6 d-flex justify-content"
            style="justify-content: space-between;"
          >
            <i class="fa fa-facebook size"></i>
            <i class="fa fa-twitter size"></i>
            <i class="fa fa-instagram size"></i>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h2>Employees</h2>
        <div class="row">
          <div class="col-12 mb-4"><span>How it works</span></div>
          <div class="col-12 mb-4"><span>Register</span></div>
          <div class="col-12 mb-4"><span>post job</span></div>
          <div class="col-12 mb-4"><span>Advance Skil</span>l</div>
          <div class="col-12 mb-4"><span>Recuriting Service</span></div>
          <div class="col-12 mb-4"><span>Blog</span></div>
          <div class="col-12 mb-4"><span>Faq</span></div>
        </div>
      </div>
      <div class="col-3">
        <h2>Candidates</h2>
        <div class="row">
          <div class="col-12 mb-4"><span>How it works</span></div>
          <div class="col-12 mb-4"><span>Register</span></div>
          <div class="col-12 mb-4"><span>post job</span></div>
          <div class="col-12 mb-4"><span>Advance Skill</span></div>
          <div class="col-12 mb-4"><span>Recuriting Service</span></div>
          <div class="col-12 mb-4"><span>Blog</span></div>
          <div class="col-12 mb-4"><span>Faq</span></div>
        </div>
      </div>
      <div class="col-3">
        <h2>Have a Question ?</h2>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="col-10">
                <span>
                  IIM Lucknow (Noida Campus Incubator), B-1, Sector 62, Noida,
                  U.P. 201307
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 my-3">
            <div class="row">
              <div class="col-1">
                <i class="fa fa-phone"></i>
              </div>
              <div class="col-10">
                <span>+91 99999 99999 </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="col-10">
                <span>example@Startupjobs.in </span>
              </div>
            </div>
          </div>
          <!-- <div class="col-1">
            <i class="fa fa-plus"></i>
          </div>
          <div class="col-11">
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
              debitis.</span
            >
          </div> -->
          <!-- <div class="col-12">How it works</div>
          <div class="col-12">Register</div>
          <div class="col-12">post job</div>
          <div class="col-12">Advance Skill</div>
          <div class="col-12">Recuriting Service</div>
          <div class="col-12">Blog</div>
          <div class="col-12">Faq</div> -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <p>
        Copyrigt @2020 All rights reserved | This template is made with by
        <a href="#">Colorlib</a>
      </p>
    </div>
  </footer>
</section>
